# Distribution / packaging
node_modules
1-getallbooks.png
2-gedetailsISBN.png
3-getbooksbyauthor.png
4-getbooksbytitle.png
5-getbookreview.png
6-register.png
7-login.png
8-reviewadded.png
9-deletereview.png

